<launch>
  <!-- 执行 chmod 命令
  <node name="set_permissions" pkg="your_package" type="set_permissions_node" output="screen">
    <rosparam>
      command: "sudo chmod a+rw /dev/ttyUSB0"
    </rosparam>
  </node> -->

  <!-- 启动 aria 节点 -->
  <node pkg="rosaria" type="RosAria" name="aria_init" output="screen" />
</launch>